In [ ]:
from google.colab import drive

drive.mount("/content/drive")

In [46]:
import pandas as pd
import numpy as np
from scipy import stats

In [47]:
df_rent = pd.read_csv("/content/drive/MyDrive/IS4242/df_srx_Condo.csv", index_col=0)
df_rent

,Bathrooms,No. of Units,Size,Bedrooms,Primary Schools,Groceries & Supermarts,Shopping Malls,Property Name,Tenure,District,Lease Term,Room Type,Address,Date Listed,Developer,Built Year,Trains (MRT & LRT),Property,Asking,Neighborhood
0,0.000000,0.701291,0.075766,0.2,0.295082,0.227979,0.389744,JadeScape,99,D20,Flexible,Entire Unit,8 Shunfu Road (575745),2023-01-30 22:08:56,Qingjian Realty (Marymount) Pte Ltd,2022,"MARYMOUNT MRT,CC16",Condominium,5750.0,Big
1,0.166667,0.701291,0.123811,0.4,0.295082,0.227979,0.389744,JadeScape,99,D20,Flexible,Entire Unit,8 Shunfu Road (575745),2023-04-01 14:30:22,Qingjian Realty (Marymount) Pte Ltd,2022,"MARYMOUNT MRT,CC16",Condominium,5750.0,Big
2,0.166667,0.701291,0.089628,0.2,0.295082,0.227979,0.389744,JadeScape,99,D20,Flexible,Entire Unit,8 Shunfu Road (575745),2022-12-23 23:57:59,Qingjian Realty (Marymount) Pte Ltd,2022,"MARYMOUNT MRT,CC16",Condominium,5750.0,Big
3,0.000000,0.701291,0.075766,0.2,0.295082,0.227979,0.389744,JadeScape,99,D20,2+ years,Entire Unit,8 Shunfu Road (575745),2023-02-07 11:33:19,Qingjian Realty (Marymount) Pte Ltd,2022,"MARYMOUNT MRT,CC16",Condominium,5750.0,Big
4,0.166667,0.701291,0.119112,0.6,0.295082,0.227979,0.389744,JadeScape,99,D20,Flexible,Entire Unit,8 Shunfu Road (575745),2023-01-29 10:23:55,Qingjian Realty (Marymount) Pte Ltd,2022,"MARYMOUNT MRT,CC16",Condominium,5750.0,Big
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3739,0.000000,0.397887,0.050511,0.0,0.213115,0.253886,0.425641,Parc Rosewood,99,D25,Flexible,Entire Unit,81 Rosewood Drive (737788),2023-03-17 10:21:24,Kensington Land Pte Ltd,2014,"WOODLANDS SOUTH MRT,TE3",Condominium,3000.0,Big
3740,0.333333,0.396127,0.109832,0.2,0.327869,0.119171,0.271795,Dover Parkview,99,D5,2+ years,Entire Unit,32 Dover Rise (138686),2023-01-29 22:52:51,Dover Palisades Pte Ltd (Far East Organization),1997,"BUONA VISTA MRT,CC22",Condominium,5000.0,Big
3741,0.333333,0.038732,0.151650,0.4,0.382514,0.217617,0.205128,Shelford Suites,999,D11,Flexible,Entire Unit,Shelford Road,2023-03-14 00:31:03,City Developments Ltd,2011,"BOTANIC GARDENS MRT,CC19",Condominium,6800.0,Small
3742,0.166667,0.127934,0.103489,0.2,0.316940,0.072539,0.056410,The Laurels,999,D9,Flexible,Entire Unit,38 Cairnhill Road (229658),2023-03-19 21:47:38,Sing Holdings (Cairnhill) Pte Ltd,2013,"SOMERSET MRT,NS23",Condominium,7000.0,Small
3743,0.166667,0.094484,0.140843,0.4,0.278689,0.331606,0.287179,Terrene At Bukit Timah,999,D21,Flexible,Entire Unit,2 Toh Tuck Road (598674),2022-01-04 18:03:54,Premier Land Development Pte Ltd,2013,"BEAUTY WORLD MRT,DT5",Condominium,5200.0,Small

# Review Analytics Dataset

In [48]:
df_review = pd.read_csv("/content/drive/MyDrive/IS4242/review_final.csv")
df_review.drop(['Unnamed: 0'], axis=1, inplace=True)
df_review

,Condominium Name,Location,Facilities,Financial Value,Service and Management,Environment
0,JadeScape,0.622823,0.583847,0.479571,0.360918,0.398123
1,The Blossomvale,0.791579,0.672135,0.542612,0.610951,0.799756
2,Kingsford . Hillview Peak,0.615585,0.999598,0.317092,0.671122,0.999643
3,Esparina Residences,0.518022,0.577772,0.437999,0.642499,0.999652
4,The Parc Condominium,0.633960,0.395109,0.468475,0.378122,0.523784
...,...,...,...,...,...,...
651,The Tropic Gardens,0.761439,0.000000,0.400408,-0.390364,0.000000
652,Fernwood Towers,0.776115,0.999659,0.341604,-0.482146,0.336589
653,Shelford Suites,0.989988,0.000000,0.499303,-0.136592,0.999685
654,The Ansley,0.998395,0.999685,0.431192,0.536320,0.999685
655,Casabella,0.993938,0.964576,0.333814,-0.963344,0.000000

# Get Dropdown Lists Info

## Get Property Name List

In [49]:
property_name_list = df_rent['Property Name'].unique().tolist()

## Get Lease Term List

In [50]:
lease_term_list = df_rent['Lease Term'].unique().tolist()

## Get Room Type List

In [51]:
room_type_list = df_rent['Room Type'].unique().tolist()

# Preprocessing

## Join Review and Condo

In [52]:
merged_df = pd.merge(df_rent, df_review, how="left", left_on="Property Name", right_on="Condominium Name")
merged_df

,Bathrooms,No. of Units,Size,Bedrooms,Primary Schools,Groceries & Supermarts,Shopping Malls,Property Name,Tenure,District,...,Trains (MRT & LRT),Property,Asking,Neighborhood,Condominium Name,Location,Facilities,Financial Value,Service and Management,Environment
0,0.000000,0.701291,0.075766,0.2,0.295082,0.227979,0.389744,JadeScape,99,D20,...,"MARYMOUNT MRT,CC16",Condominium,5750.0,Big,JadeScape,0.622823,0.583847,0.479571,0.360918,0.398123
1,0.166667,0.701291,0.123811,0.4,0.295082,0.227979,0.389744,JadeScape,99,D20,...,"MARYMOUNT MRT,CC16",Condominium,5750.0,Big,JadeScape,0.622823,0.583847,0.479571,0.360918,0.398123
2,0.166667,0.701291,0.089628,0.2,0.295082,0.227979,0.389744,JadeScape,99,D20,...,"MARYMOUNT MRT,CC16",Condominium,5750.0,Big,JadeScape,0.622823,0.583847,0.479571,0.360918,0.398123
3,0.000000,0.701291,0.075766,0.2,0.295082,0.227979,0.389744,JadeScape,99,D20,...,"MARYMOUNT MRT,CC16",Condominium,5750.0,Big,JadeScape,0.622823,0.583847,0.479571,0.360918,0.398123
4,0.166667,0.701291,0.119112,0.6,0.295082,0.227979,0.389744,JadeScape,99,D20,...,"MARYMOUNT MRT,CC16",Condominium,5750.0,Big,JadeScape,0.622823,0.583847,0.479571,0.360918,0.398123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3739,0.000000,0.397887,0.050511,0.0,0.213115,0.253886,0.425641,Parc Rosewood,99,D25,...,"WOODLANDS SOUTH MRT,TE3",Condominium,3000.0,Big,Parc Rosewood,0.615570,0.485506,0.460195,0.035150,0.227363
3740,0.333333,0.396127,0.109832,0.2,0.327869,0.119171,0.271795,Dover Parkview,99,D5,...,"BUONA VISTA MRT,CC22",Condominium,5000.0,Big,Dover Parkview,0.694469,0.425212,0.511331,0.460565,0.989331
3741,0.333333,0.038732,0.151650,0.4,0.382514,0.217617,0.205128,Shelford Suites,999,D11,...,"BOTANIC GARDENS MRT,CC19",Condominium,6800.0,Small,Shelford Suites,0.989988,0.000000,0.499303,-0.136592,0.999685
3742,0.166667,0.127934,0.103489,0.2,0.316940,0.072539,0.056410,The Laurels,999,D9,...,"SOMERSET MRT,NS23",Condominium,7000.0,Small,The Laurels,0.706616,0.973678,0.798816,0.606165,0.499844
3743,0.166667,0.094484,0.140843,0.4,0.278689,0.331606,0.287179,Terrene At Bukit Timah,999,D21,...,"BEAUTY WORLD MRT,DT5",Condominium,5200.0,Small,Terrene At Bukit Timah,0.866215,-0.999607,0.398769,-0.963344,-0.997041

## Drop columns

In [53]:
merged_df.drop(['Developer', 'Property', 'Address', 'Date Listed', 'Condominium Name'], axis=1, inplace=True)

## Drop Missing Values

In [54]:
merged_df.isna().sum()

Bathrooms                   0
No. of Units               94
Size                        0
Bedrooms                    0
Primary Schools             0
Groceries & Supermarts      0
Shopping Malls              0
Property Name               0
Tenure                      0
District                    0
Lease Term                  0
Room Type                   0
Built Year                  0
Trains (MRT & LRT)        142
Asking                      0
Neighborhood                0
Location                    0
Facilities                  0
Financial Value             0
Service and Management      0
Environment                 0
dtype: int64

In [55]:
merged_df.dropna(inplace=True)

## One Hot Encoding

In [56]:
from datetime import datetime
cat_vars = ['Lease Term', 'District', 'Room Type', 'Trains (MRT & LRT)', 'Neighborhood']

# convert all categorical variables
for cat_var in cat_vars:
  merged_df = pd.concat([merged_df, pd.get_dummies(merged_df[cat_var])], axis=1)

In [57]:
# drop org columns after one hot encoding
merged_df.drop(cat_vars, axis=1, inplace=True)

## Clean Feature Names

In [58]:
import re

# replace special characters with underscores --> cos of the 2 years vs 2+ years
merged_df.columns = [re.sub(r'[^\w\s]+', '_', c) for c in merged_df.columns]

# replace space with underscore
merged_df.columns = merged_df.columns.str.replace(' ', '_')

# Get Model

In [59]:
import pickle
with open('/content/drive/MyDrive/IS4242/rf_model_reviews.pkl', 'rb') as f:
    model = pickle.load(f)

In [60]:
import math
def predict_price(df_new):
  price = model.predict(df_new)
  return math.exp(price[0]) #bc price is in log

# Convert Inputs

## 1. Get Other Feature Values from Property Name

In [61]:
def get_features_from_name(property_name):
  row = merged_df.loc[merged_df['Property_Name'] == property_name]
  first_row = row.iloc[0]

  # Create test dataframe
  df_new = pd.DataFrame(first_row).transpose()
  df_new.drop(['Asking', 'Property_Name'], axis=1, inplace=True)

  return df_new

## 2. Scale and add input values to dataframe

In [62]:
# Scale inputs before adding to dataframe
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer
import joblib

def scale_numeric_inputs(bathrooms, bedrooms):
  scaler = joblib.load(open('/content/drive/MyDrive/IS4242/Price Data Preprocess_1.2.2ver.sav', 'rb'))
  new_data = pd.DataFrame({'Bathrooms': [bathrooms], 'Bedrooms': [bedrooms]})
  transformed_data = scaler.transform(new_data)
  print(transformed_data)
  return transformed_data[0][0], transformed_data[0][1]

In [63]:
def add_input_to_df(df_new, lease_term, room_type, bedrooms, bathrooms):
  # convert lease_term and room type column names 
  lease_term = lease_term.replace(' ', '_')
  lease_term = re.sub(r'[^\w\s]+', '_', lease_term)
  room_type = room_type.replace(' ', '_')

  df_new['Bathrooms'] = bathrooms
  df_new['Bedrooms'] = bathrooms
  df_new[lease_term] = 1
  df_new[room_type] = 1

In [64]:
def scale_add_inputs(df_new, lease_term, room_type, bedrooms, bathrooms):
  scaled_bathrooms, scaled_bedrooms = scale_numeric_inputs(bathrooms, bedrooms)
  add_input_to_df(df_new, lease_term, room_type, scaled_bedrooms, scaled_bathrooms)

# Gradio App

In [ ]:
!pip3 install gradio

In [66]:
import gradio as gr
from gradio.blocks import *

In [68]:
def predict_rental_price(property_name, lease_term, room_type, bedrooms, bathrooms):
  print(property_name, lease_term, room_type, bedrooms, bathrooms)
  # 1.Get other values from property_name
  df_new = get_features_from_name(property_name)
  # 2. Scale and Add user inputs into dataframe
  scale_add_inputs(df_new, lease_term, room_type, bedrooms, bathrooms)
  # 3. Predict using model
  price = predict_price(df_new)
  return round(price) 

def get_review_analytics(property_name):
  row = df_review[df_review['Condominium Name'] == property_name]
  row = row.iloc[0]
  location_rating = row['Location']
  facilities_rating = row['Facilities']
  fin_rating = row['Financial Value']
  sm_rating = row['Service and Management']
  env_rating = row['Environment']
  return round(location_rating, 3), round(facilities_rating, 3), round(fin_rating, 3), round(sm_rating, 3), round(env_rating, 3)

with gr.Blocks(css=".gradio-container {width: 100%} .tab-label {font-weight: bold, font-size: 16px}") as demo:
  with gr.Row():
    gr.Markdown('# A Better Model 🏡')
  gr.HTML(
  "<div style='background-image: url(\"file/drive/MyDrive/IS4242/condobg2.png\"); background-size: cover; background-position: center; height: 40vh; z-index:-1'></div>\
    <div style='position: absolute;top: 0;left: 0;width: 100%;height: 100%; z-index=1'></div>\
    <div style='position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(255, 255, 255, 0.5); z-index: 1'></div>\
    <div style='position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;z-index: 2'>\
      <p style='font-size: 38px; font-weight: bold; color: #ffffff'>Predict Condo Prices ft. Review Analytics</p>\
    </div>"
  )

  with gr.Tab("Predict Prices 🤑", elem_classes='tab-label'):
    with gr.Row():
      with gr.Column(): # cat
        property_name = gr.Dropdown(property_name_list, label = "Property Name")
        lease_term = gr.Dropdown(lease_term_list, label='Lease Term')
        room_type = gr.Dropdown(room_type_list, label= "Room Type")

      with gr.Column(): # numeric
        bedrooms = gr.Number(label = "Bedrooms")
        bathrooms = gr.Number(label = "Bathrooms")
    with gr.Row():
      predict_price_btn = gr.Button("Predict", variant="primary")
    with gr.Row():
      output = gr.Textbox(label="Output")
    predict_price_btn.click(fn=predict_rental_price, inputs=[property_name, lease_term, room_type, bedrooms, bathrooms], outputs=output)
  
  with gr.Tab("Get Review Analysis 🔍", elem_classes='tab-label'):
    with gr.Row():
      with gr.Column():
        condo_name = gr.Dropdown(property_name_list, label = "Property Name")
        get_reviews_btn = gr.Button('Get Review Analytics', variant="primary")
      with gr.Column():
        output_location = gr.Textbox(label="Location Score (on a scale of 0-1)")
        output_facilities = gr.Textbox(label="Facilities Score (on a scale of 0-1)")
        output_fin = gr.Textbox(label="Financial Value Score (on a scale of 0-1)")
        output_sm = gr.Textbox(label="Service & Management Score (on a scale of 0-1)")
        output_env = gr.Textbox(label="Environment Score (on a scale of 0-1)")
    get_reviews_btn.click(fn=get_review_analytics, inputs=[condo_name], outputs=[output_location, output_facilities, output_fin, output_sm, output_env])    

demo.launch(debug=True, show_api=False)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Note: opening Chrome Inspector may crash demo inside Colab notebooks.

To create a public link, set `share=True` in `launch()`.

Keyboard interruption in main thread... closing server.